.dark {
  background-color: #333;
  color: #fff;
  text-align: center;
}

.light {
  background-color: #fff;
  color: #333;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-setting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-link2 {
  color: #ddb463;
  font-size: calc(20px + 2vmin);
}

.App-img {
  width: 40vmin;
  height: 20vmin;
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}